root { 
    display: block;
}

.deleteSollecitazione {
    width: 4%;
}

.deleteCommento{
    width: 5%;
    float: right;
    cursor: pointer;
}

.val_description {
    margin-left: 25%;
}

.val_voto {
    margin-left: 2%;
}

.val_esaminatore{
    font-size: 200%;
    text-decoration: none;
    color: #000;
}

.risposta{
    margin-left: 10%;
    float: left;
    padding: 1%;
    border: black 1px solid;
    width: 30%;
}

.rispostaTesto{
    
}

.risorsalink{
    margin-left: 10%;
}

header {
    text-align: center;
    -khtml-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
    -khtml-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -ms-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -o-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -moz-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -webkit-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
}

#userInfo {
    text-align: right;
    font:12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

article {
    width: 100%;
}

#btns{
    margin-left: 13%;
    margin-bottom: 1%;
    margin-top: 1%;
}

.btn {
   display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#log-reg_form{
    margin-left: 40%;
}

#personalInfo{
    margin-left: 30%;
}

#personalInfo #photo{
    border:2px solid black;
    margin-left: -20%;
}

#small_arrow{
    margin-left: 20%;
}

.course_title{
    font-size: 200%;
    text-decoration: none;
    color: #000;
}

.course_description{
    margin-left: 25%;
}

.post_text,.post_text_draft{
    margin-left: 25%;
}
.post_text_draft{
    color:red;
}

.risorsa{
    font-size: 70%;
    text-decoration: underline;
}

#tabbertab1,#tabbertab2,#tabbertab3,#tabbertab4,#tabbertab5{
    position:absolute;
    border: 2px;
    border-color: black;
    border-style: solid;
    width: 80%;
    margin-left: 10%;
    padding-left: 1%;
}

#tabbertab2,#tabbertab3,#tabbertab4,#tabbertab5{
    display:none;
}

.trasformaInBozzaImg{
    width: 5%;
    cursor: pointer;
}

.post .date,.time{
    text-align: right;
    width: 100%;
    float: left;
    margin-right: 213px;
    font-size: 9px;
}

.postTitolo{
    text-transform: uppercase;
    font-weight:bold;
    font-size: 140%;
    margin-left: 15%;
}

.sollecitazione{
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid;
    -khtml-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
    -khtml-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -ms-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -o-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -moz-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -webkit-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
}

.sollecitazioneBozza{
    color: red;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid;
    -khtml-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
    -khtml-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -ms-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -o-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -moz-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -webkit-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
}

.sollTitolo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 140%;
    margin-left: 15%;
}

#sollecitazioni{
    margin-top: 2%;
    float:right;
    width: 50%;
}

#posts{
    margin-top: 2%;
    float:left;
    width: 50%;
}

.sollDate{
    margin-left: 20%;
    color:green;
}

.post{
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 3%;
    border: 1px solid;
    -khtml-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
    -khtml-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -ms-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -o-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -moz-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -webkit-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
}

.postDraft{
    color: red;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 3%;
    border: 1px solid;
    -khtml-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
    -khtml-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -ms-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -o-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -moz-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -webkit-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
}

.ptit {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 160%;
    margin-left: 15%;
}

.postDraft .date,.time{
    text-align: right;
    width: 100%;
    float: left;
    margin-right: 213px;
    font-size: 9px;
}

.comment{
    margin-left: 30%;
    margin-right: 10%;
    padding-left: 1%;
    padding-top: 0%;
    padding-bottom: 0%;
    border-bottom: 1px dotted;
    -khtml-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
    -khtml-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -ms-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -o-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -moz-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -webkit-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
}
/*?????????????????????????????menu nav ??????????????????????????????????????????????????*/
ul#menu {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul#menu li {
    border-bottom: 5px solid;
    display: block;
    width: 150px;
    height: 30px;
    margin: 2px;
    float: left;
}

ul#menu li a {
    color: #000;
    display: block;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}

ul#menu li.active, ul#menu li:hover {
    background-color: #54BAE2;
    border-bottom: 5px solid #FF831C;
}
/*?????????????????????????????menu nav ??????????????????????????????????????????????????*/

footer {
    position: absolute;
    left:1%;
    top: 19.5%;
    margin:18px auto; 
    padding: 5px 0px;
    white-space: nowrap;
    clear: both;
    font:12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;	
}

#insideFooter{
    float: left;
    background-color: rgb(182, 215, 228);
    padding-right: 1%;
    padding-left: 1%;
}

.inputText{
    margin-left: 10%;
    width: 70%;
}

.addComment{
    margin-left: 22%;
}
.inputComment{
    width:85%;
}

.deletePost{
    cursor:pointer;
    margin-left: 83%;
    width: 5%;
}

.saveDraft{
    cursor:pointer;
    width: 4.5%;
}

.modificaPost{
    padding-top: 15%;
    width: 60%;
}

.modificaSollImg{
    width: 4%;
    float: right;
}

form[name="formModificaPost"]{
    float: right;
}

.dangerPhoto{
    width: 5%;
    margin-left: 20%;
    margin-top: 10%;
}

.addFile{
    background: none;
    border: none;
    color: #3b5998;
    cursor: pointer;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

#creaNuovoPost{
    text-align: center;
}

#creaNuovaSollecitazione{
    text-align: center;
}